<section id="inicioservicios">   
    <article class="contenedor">
        <div class="divborder  espacioarriba">
            <h2 class="centrar texto">Nuestro horario de atención al publico:</h2>
            <h1 class="centrar">Lunes a Viernes</h1>
            <h3 class="centrar texto">6:00am - 9:00pm</h3>
             <h1 class="centrar">Sabados</h1>
            <h3 class="centrar texto">9:00am - 3:00pm</h3>
        </div>
    </article>
</section>

<section id="menuservicios">
    <article class="contenedor">
            <ul>
                <li><a href="#Baile">Baile</a></li>
                <li><a href="#Pesas">Pesas</a></li>
                <li><a href="#Piscina">Piscina</a></li>
                <li><a href="#Aerobicos">Aerobicos</a></li>
                <li><a href="#Masajes">Masajes</a></li>
                <li><a href="#Spinning">Spinning</a></li>
                <li><a href="#SeguridadPrivada">Seguridad Privada</a></li>
                <li><a href="#ParqueoGratuito">Parqueo Gratuito</a></li>
            </ul> 
            
    </article>
</section>


<section id="Baile">
    <article class="contenedor">
        <div class="divborderservicios">
      <div>
          <img class="izquierda" src="images/6.png" /> 
          En primer lugar, refuerza los músculos respiratorios. Esto le da una mayor oxigenación a tus pulmones, además fortalece y expande tus músculos cardíacos. Con esto se mejora la eficiencia de bombeo del corazón.
          Otro de los beneficios de este tipo de ejercicios es que los músculos del cuerpo se tonifican. Mejora la circulación sanguínea y se normaliza la presión arterial. Algunos aspectos psicológicos y emocionales se benefician también, ya que mejora su salud mental, al reducir el estrés y disminuye la incidencia de la depresión.
     </div>
         </div>  
    </article>
</section>

<section id="Pesas">
    <article class="contenedor">
        <div class="divborderservicios">
      <div>
          <img class="derecha" src="images/2.png" /> 
          En primer lugar, refuerza los músculos respiratorios. Esto le da una mayor oxigenación a tus pulmones, además fortalece y expande tus músculos cardíacos. Con esto se mejora la eficiencia de bombeo del corazón.
          Otro de los beneficios de este tipo de ejercicios es que los músculos del cuerpo se tonifican. Mejora la circulación sanguínea y se normaliza la presión arterial. Algunos aspectos psicológicos y emocionales se benefician también, ya que mejora su salud mental, al reducir el estrés y disminuye la incidencia de la depresión.
     </div>
         </div>  
    </article>
</section>

<section id="Piscina">
    <article class="contenedor">
        <div class="divborderservicios">
      <div>
          <img class="izquierda" src="images/1.png" /> 
          En primer lugar, refuerza los músculos respiratorios. Esto le da una mayor oxigenación a tus pulmones, además fortalece y expande tus músculos cardíacos. Con esto se mejora la eficiencia de bombeo del corazón.
          Otro de los beneficios de este tipo de ejercicios es que los músculos del cuerpo se tonifican. Mejora la circulación sanguínea y se normaliza la presión arterial. Algunos aspectos psicológicos y emocionales se benefician también, ya que mejora su salud mental, al reducir el estrés y disminuye la incidencia de la depresión.
     </div>
         </div>  
    </article>
</section>

<section id="Aerobicos">
    <article class="contenedor">
        <div class="divborderservicios">
      <div>
          <img class="derecha" src="images/5.png" /> 
          En primer lugar, refuerza los músculos respiratorios. Esto le da una mayor oxigenación a tus pulmones, además fortalece y expande tus músculos cardíacos. Con esto se mejora la eficiencia de bombeo del corazón.
          Otro de los beneficios de este tipo de ejercicios es que los músculos del cuerpo se tonifican. Mejora la circulación sanguínea y se normaliza la presión arterial. Algunos aspectos psicológicos y emocionales se benefician también, ya que mejora su salud mental, al reducir el estrés y disminuye la incidencia de la depresión.
     </div>
         </div>  
    </article>
</section>

<section id="Masajes">
    <article class="contenedor">
        <div class="divborderservicios">
      <div>
          <img class="izquierda" src="images/4.png" /> 
          En primer lugar, refuerza los músculos respiratorios. Esto le da una mayor oxigenación a tus pulmones, además fortalece y expande tus músculos cardíacos. Con esto se mejora la eficiencia de bombeo del corazón.
          Otro de los beneficios de este tipo de ejercicios es que los músculos del cuerpo se tonifican. Mejora la circulación sanguínea y se normaliza la presión arterial. Algunos aspectos psicológicos y emocionales se benefician también, ya que mejora su salud mental, al reducir el estrés y disminuye la incidencia de la depresión.
     </div>
         </div>  
    </article>
</section>

<section id="Spinning">
    <article class="contenedor">
        <div class="divborderservicios">
      <div>
          <img class="derecha" src="images/3.png" /> 
          En primer lugar, refuerza los músculos respiratorios. Esto le da una mayor oxigenación a tus pulmones, además fortalece y expande tus músculos cardíacos. Con esto se mejora la eficiencia de bombeo del corazón.
          Otro de los beneficios de este tipo de ejercicios es que los músculos del cuerpo se tonifican. Mejora la circulación sanguínea y se normaliza la presión arterial. Algunos aspectos psicológicos y emocionales se benefician también, ya que mejora su salud mental, al reducir el estrés y disminuye la incidencia de la depresión.
     </div>
         </div>  
    </article>
</section>

<section id="SeguridadPrivada">
    <article class="contenedor">
        <div class="divborderservicios">
      <div>
          <img class="izquierda" src="images/1.png" /> 
          En primer lugar, refuerza los músculos respiratorios. Esto le da una mayor oxigenación a tus pulmones, además fortalece y expande tus músculos cardíacos. Con esto se mejora la eficiencia de bombeo del corazón.
          Otro de los beneficios de este tipo de ejercicios es que los músculos del cuerpo se tonifican. Mejora la circulación sanguínea y se normaliza la presión arterial. Algunos aspectos psicológicos y emocionales se benefician también, ya que mejora su salud mental, al reducir el estrés y disminuye la incidencia de la depresión.
     </div>
         </div>  
    </article>
</section>

<section id="ParqueoGratuito">
    <article class="contenedor">
        <div class="divborderservicios">
      <div>
          <img class="derecha" src="images/1.png" /> 
          En primer lugar, refuerza los músculos respiratorios. Esto le da una mayor oxigenación a tus pulmones, además fortalece y expande tus músculos cardíacos. Con esto se mejora la eficiencia de bombeo del corazón.
          Otro de los beneficios de este tipo de ejercicios es que los músculos del cuerpo se tonifican. Mejora la circulación sanguínea y se normaliza la presión arterial. Algunos aspectos psicológicos y emocionales se benefician también, ya que mejora su salud mental, al reducir el estrés y disminuye la incidencia de la depresión.
     </div>
         </div>  
    </article>
</section>