<section id="inicio">
    <article class="contenedor centrar" >
        <div>
            <h1 class="shadow"> Mantener nuestro cuerpo con buena salud es un deber. 
                De lo contrario no seremos capaces de mantener nuestras mentes fuertes y claras</div>
            <h1 class="shadow">.-Buddha.</h1>
        </div>
    </article>

</section> 

<section id="historia">
    <article class="contenedor">
        <div class="centrar">
            <img class="logotipo" src="images/loo.png" alt="Gimnasio Olympus">   
        </div>
        <div class="centrar">
            <h2 class="centrar colortxt">Gimnasio Olympus</h2>
              <p class="justificado"> 
                Es un gimnasio con grandes aspiraciones de fomentar la salud física y mental, otorgando beneficios a su vida diaria; contamos con instructores capacitados, con años de experiencia en la materia.
                Contamos con equipo cardiovascular y muscular, programas aeróbicos (salsa, zumba, aerobics, Spinning y pilates), con cursos variados para todos los niveles, nuestro personal está altamente calificado,
                además tenemos horarios flexibles. 
              </p>
        </div>
    </article>
</section> 


<section id="rutinas">
    <article class="contenedor">
        <div class="centrar">
            <h1>Rutinas De Ejercicios</h1>
            <a href=""> <img class="imagesopti" src="../images/rutinasmen.jpg" alt=""> </a> 
            <a href=""> <img class="imagesopti" src="../images/rutinaswomen.jpg" alt=""> </a> 
        </div>
    </article>
</section>

<section id="servicios">
    <article class="contenedorimagenes">
        <div class="centrar">
            <h1 class="colortxt">Nuestros Servicios</h1>
             <li> <div class="capaico"> <img class="iconrutinas" src="../images/3.png" alt=""> </div>Spinning</li>
             <li> <div class="capaico"> <img class="iconrutinas" src="../images/2.png" alt=""> </div>Pesas</li>
             <li> <div class="capaico"> <img class="iconrutinas" src="../images/1.png" alt=""> </div>Piscina</li>
        </div>

         <div class="centrar">
            <li> <div class="capaico"> <img class="iconrutinas" src="../images/6.png" alt=""> </div> Baile</li>
            <li> <div class="capaico"> <img class="iconrutinas" src="../images/5.png" alt=""> </div> Aerobicos</li>
            <li> <div class="capaico"> <img class="iconrutinas" src="../images/4.png" alt=""> </div> Masajes</li>
        </div>
    </article>
</section>

<section id="instructores">
    <article class="contenedorimagenes">
        <div class="centrar">
            <h1>Instructores</h1>

             <li> <div class="capaico"> <img class="iconrutinas" src="../images/couch.jpg" alt=""> </div> Instructor 1</li>
             <li> <div class="capaico"> <img class="iconrutinas" src="../images/couch.jpg" alt=""> </div>Instructor 2</li>
             <li> <div class="capaico"> <img class="iconrutinas" src="../images/couch.jpg" alt=""> </div> Instructor 3</li>
        </div>

         <div class="centrar">
             <li> <div class="capaico"> <img class="iconrutinas" src="../images/couch.jpg" alt=""> </div>Instructor 4</li>
             <li> <div class="capaico"> <img class="iconrutinas" src="../images/couch.jpg" alt=""> </div>Instructor 5</li>
             <li> <div class="capaico"> <img class="iconrutinas" src="../images/couch.jpg" alt=""> </div>Instructor 6</li>
        </div>
    </article>
</section>