<!DOCTYPE html>
<html>
  <head>
    <title>Gimnasio Olympus</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel='stylesheet' href='/stylesheets/style.css'/>

      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700,800" rel="stylesheet">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </head>
    <body>
      <header>  
          <a href="#"> <img src="images/loo.png" class="logo" alt=""></a>
        <nav>
        
          <ul>  
            <li><a href="/">Inicio</a></li>
            <li><a href="/horariosyclases">Horario y Clases</a></li>
            <li><a href="/rutinas">Rutinas</a></li>
            <li><a href="/informacioninteres">Informacion de Interes</a></li>
            <li><a href="/contactanos">Contactanos</a></li>
          </ul>
         

            <a href="#" id="iconmenu"><img src="images/menu.png" class="menumobile" alt=""></a>
        </nav>
          <div> 
            <a href="#"> <img src="images/fb.png" class="redessociales" alt=""></a>
            <a href="#"> <img src="images/tw.png" class="redessociales" alt=""></a>
            <a href="#"> <img src="images/email.png" class="redessociales" alt=""></a>
            <a href="#"> <img src="images/instagram.png" class="redessociales" alt=""></a>
          </div>
      </header>
 {{{body}}}
      <footer>  
        <div class="mapa"> 
         
         
       
      
        </div>

        <div class="socialmedia">
   
        </div>
        </div>
      </footer>
     
    </body>
</html>
