body {
  background: white ;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

header {
  background:none;
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

}

 ul {
  list-style: none;
  text-align: center;
  position: relative;
  top: 20px;
  
}

 li{
  display: inline-block;
  padding: 10px;

}

 li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  left: -10px;
  
}

  li a:hover {
  text-decoration: none;
  color: #8f7636;
}

nav {
  margin: 0;
  padding: 5px;
 
}

div a {
  align-content: center;
}



#inicio {
  
  background: url(../images/backindex.jpeg) center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  
  
}

.shadow{
  text-shadow: 0px 0px 10px white;
}

#historia{
  background: whitesmoke;
}

#historia article div p {
  color: #8f7636;
  font-size: 22px;
  margin-top: 50px;
}

#rutinas {
  width: 100%;
  background: #0e0e0e;
}

#servicios{
  background: white;
}

#instructores {
  background: black;
}



article div {
  padding: 60px;
}

#servicios article div li {
 color: #8f7636;
 font-size: 20px;
 font-weight: bold;
}

#instructores article div li {
 color: #ffffff;
 font-size: 20px;
 font-weight: inherit ;
}
/*
PAGINA DE SERVICIOS
*/
#inicioservicios{
  background: black;
}

#Baile{
  background: black;
}

#Pesas{
  background: url(../images/rutinaspesas.jpg) center ;
  background-size: cover;
  background-repeat: no-repeat;
}

#Aerobicos{
  background: black;
  
}

#Piscina{
  background: black;
}

#Masajes{
  background: white;
}

#Spinning{
  background: black;
}

#SeguridadPrivada{
  background: white;
 -webkit-transition-duration: 5s; /* Safari */
    transition-duration: 5s;
}
#ParqueoGratuito{
  background: black;
}

.menuservicios{
  background: white;
}



#menuservicios ul {
   list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: 2px solid #7f7f7f;

} 

#menuservicios li {
  display: inline-block;
  padding: 0px;
  margin: 15px;

}

#menuservicios li a {
 align-content: center;
  font-size: 25px;
  font-weight: normal;
 color: black;
}

 #menuservicios li a:hover {
  text-decoration: none;
  color: #8f7636;
    border-bottom: 2px solid yellow;
}

.divborderservicios{
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
 color: white;
 font-size: 17px;
}

img.izquierda {
  float: left;
  margin-right: 20px;
  position: relative;
  top: -60px;
}

img.derecha {
  float: right;
  margin-left: 20px;
  position: relative;
  top: -60px;
}

.contenedorservicios{
   width: 100%;
  padding: 20px 100px;
}


/**/

.divborder{
  border: 2px solid white;
  border-radius: 2px;
  padding: 5px;
  background: #171814
}

.espacioarriba {
  margin-top: 50px;
}

.texto{
  color: white;
}

/*
article div img {
  margin-left: 20px;
  margin-right: 20px;
  width: 350px;
  position: relative;
}
*/
article div h1 {
  color: white;
  margin: 10px;
  padding: 0px;
  font-size: 35px;
}


footer {
  background: black !important;
  
}



.listabloques{
display: inline-block;
}

footer div {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 45px;
}

footer div.socialmedia {
  background: yellow;
   vertical-align: middle;
  width: 45%;

   

}

footer div.mapa {
 background: orangered;
  vertical-align: middle;
  width: 54%;

}

.imagesopti{
    width:100%;
    max-width:400px;
    border-right: 100px;
    padding: 20px;
}

.redessociales
{
  width: 30px;
  margin: 5px;
  float: right;
  position: relative;
  right: 15px;
  bottom: -10px;
 
}

.menumobile{
  width: 32px;
  height: 32px;
  margin: 20px 5px;
  float: right;
  display: none;
}

.logo{
  width: 90px;
  padding: 10px;
  float: left;
  position: absolute;
  left: 10px;
}

.logotipo{
  width: 170px;
  padding-top: 0px;
  margin: 30px;
}

.iconrutinas{
  width: 150px;
  margin: 5px 50px;
  display: inline-block;
}



.centrar {
  display: block;
  text-align: center;
  padding: 0px;
}

.justificado{
text-align : center;
}

.contenedor {
  width: 100%;
  padding: 90px 100px;
}

.contenedorimagenes {
  width: 100%;
  padding: 90px 100px;
}

.capaico{
  width: 100%;
  padding: 0px;
  text-align: center;

}

.colortxt {
  color: #8f7636;
}

/*===================================================
             DISPOSITIVO MOBIL
  ===================================================*/
@media only screen and (max-width: 480px){

    body{
    background: red ;
  }
.justificado{
  text-align : justify;
}

article div {
  padding: 10px;
}

}

/*===================================================
             DISPOSITIVO TABLET
  ===================================================*/

@media only screen and (max-width: 768px){

  body{
    background: green ;
  }

  header {
    position: absolute;
  }


  nav ul, nav:active ul {
   
    display: none;
    position: absolute;
    padding: 0px;
    background: #242424;
    right: 0px;
    top: 75px;
    width: 100%;   
  }
  .imagesopti{
    width:250px;
    max-width:400px;
    border-right: 100px;
    padding: 20px;
}

.menumobile {
  display: inline;
}

.contenedor {
  width: 100%;
  padding: 30px 20px;
}

.contenedorimagenes {
  width: 100%;
  padding: 30px 20px;
}

  nav:hover ul {
    display: block; 
   transition-duration: 0.6s;
  }
  nav li {
    text-align: center;
    width: 100%;
    padding: 15px 0;
    margin: 0;
  }

  section div div img {
    display: inline-block;
  }

footer div.socialmedia {
  background: yellow;
  width: 100%
}

footer div.mapa {
 background: orangered;
 width: 100%
}

.iconrutinas{
  width: 150px;
  padding-top: 0px;
  margin: 5px 20px;
  display: inline-block;
  
}

}